.auth-title{

    color:var(--color-primary);

    font-size:var(--font-title);

    font-weight:600;

    text-align:center;
}

.auth-subtitle{

    color:var(--color-text-secondary);

    font-size:20px;

    text-align:center;

    line-height:1.5;
}

.auth-form{

    display:flex;

    flex-direction:column;

    gap:20px;

    margin-top:32px;
}